.userhome{
  margin: 0px auto;
  width: 1500px;
  height: 1000px;
  background: #adcecd;
}
.header{
  width: 1200px;
  margin-left: 180px;
  height: 60px;
  text-align: left;
  padding-top: 40px;
}
.header .header_left{
 float: left;
}
.header .header_left .right{
  float: right;
}
.header .header_left span{
  margin-left: 5px;
  font-size: 16px;
  color: #ff5d0e;
}
.header .header_right{
  float: right;
  text-align: right;
  margin: 0px;
  padding: 0px;
}
.header .header_right .system_message{
  float: left;
  margin-right: 80px;
  height: 30px;
  width: 30px;
  margin-top: 5px;
}
.header .header_right .user{
  float: left;
  margin-left: 50px;
  font-size: 16px;
  padding-top: 10px;
  margin-right: 10px;
  /*color: #ff5d0e;*/
}
.header .header_right .usercenter{
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: #409EFF;
}
.header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

