.messageloginpage{
  margin: 0px 300px;
  width: 1000px;
  height: 800px;
  background: #b5d9d9;
}
.top{
  width: 1000px;
  height: 30px;
  text-align: left;
  padding-top: 100px;
}
.top .el-icon-close{
  margin-left: 270px;
}
.top .register{
  margin-left: 370px;
  font-size: 16px;
  color: #3568bc;;
}
.header{
  width: 1000px;
  height: 40px;
  text-align: center;
  margin-top: 50px;
}
.header .header_title{
  font-size: 16px;
  color: #e00eff;
}
.header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main{
  width: 920px;
  height: 200px;
  text-align: center;
  margin-top: 50px;
}
.main .demo-ruleForm{
  padding: 0px 240px;
  text-align: center;
}
.main .tel{
  margin-right: 450px;
}
.reset{
  margin-left: 20px;
  color: #bc878a;
}
.end{
  width: 1000px;
  text-align: left;
}
.end .message_login{
  margin-left: 250px;
  font-size: 14px;
  color: #3568bc;
}
.end .forget_pass{
  margin-left: 310px;
  font-size: 14px;
  color: #3568bc;
}
.btn_login{
  float: right;
}
