 .dialog{
   width: 1800px;
 }
.middle{
  width: 860px;
  background: #ebfaff;
}
.top{
  height: 60px;
  margin: 0px;
  padding: 0px;
  background: #409EFF;
}
.top .topul{
  padding: 0px;
}
.top .title{
  float: left;
  padding: 0px 5px;
  list-style: none;
}
.top .title:nth-child(1){
  float: left;
  margin-left: 15px;

}
